<section id="dashboard" class="section has-text-white has-text-centered dashboard">
  <div class="campaing">
    <h2 class="is-size-5 has-text-white-semibold">All Campaign</h2>
    <% if @campaigns.count > 0 %>
    <br/>
    <section class="container">
      <div class="columns features">
        <%= render @campaigns %>
      </div>
    </section>
    <% end %>
  </div>
</section>
